.avatar-popout[style*='82157505391624192']::after,
.avatar-popout[style*='137661163805605889']::after,
.avatar-popout[style*='105522177406672896']::after,
.avatar-popout[style*='139085523032473601']::after,
.avatar-popout[style*='130878355162529792']::after,
.avatar-popout[style*='170606595451912192']::after {
    content: "Verifed";
    position: absolute;
    height: 14px;
    padding: 1px 2px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.5);
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 16px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    vertical-align: bottom
}
.message-group .avatar-large[style*='89125338465964032']::after,
.message-group .avatar-large[style*='82157505391624192']::after,
.message-group .avatar-large[style*='137661163805605889']::after,
.message-group .avatar-large[style*='105522177406672896']::after,
.message-group .avatar-large[style*='139085523032473601']::after,
.message-group .avatar-large[style*='130878355162529792']::after,
.message-group .avatar-large[style*='170606595451912192']::after  {
    content: "V";
    position: absolute;
    height: 9px;
    padding: 1px 2px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.5);
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 9px;
    text-align: center;
    font-weight: 9;
    line-height: 9px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    vertical-align: bottom
}